<div class="sidebar-wrapper">
  <div class="logo">
    <a href="https://cortex-intelligence.com" class="simple-text">
      <span>Cortex Intelligence</span>
    </a>
  </div>
  <ul class="nav responsive-nav">
    <li>
      <a routerLink="/home">
        <i class="fa fa-search"></i>
        <p>Conversões</p>
      </a>
    </li>

    <li>
      <a routerLink="/cache">
        <i class="fa fa-search"></i>
        <p>Cache</p>
      </a>
    </li>

    <li>
      <a routerLink="/fila">
        <i class="fa fa-search"></i>
        <p>Fila Solicitações</p>
      </a>
    </li>

  </ul>
</div>
