<h2 mat-dialog-title>Conversão de Moedas</h2>

<form class="example-full-width" (ngSubmit)="onSubmit()">

  <mat-dialog-content>

    
    <mat-form-field class="example-full-width">
      <mat-select placeholder="Moeda Origem" #moedaOrigem [(ngModel)]="conversor.moedaOrigem" name="moedaOrigem">
        <mat-option value="USD">Dólar</mat-option>
        <mat-option value="EUR">Euro</mat-option>
      </mat-select>
    </mat-form-field>
    <!--
    <mat-form-field class="example-full-width">
      <mat-select placeholder="Moeda Final" #moedaFinal [(ngModel)]="conversor.moedaFinal" name="moedaFinal">
        <mat-option value="USD">Dólar</mat-option>
        <mat-option value="EUR">Euro</mat-option>
      </mat-select>
    </mat-form-field>
    -->

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button>Salvar</button>
    <button mat-raised-button mat-dialog-close>Fechar</button>
  </mat-dialog-actions>

</form>